<main class="main">
  <div class="content">
     
    <div>
    <div style="display: block;">
      <canvas baseChart width="1850" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>  
    </div>

    <div style="display: block;">
      <h3>Latest Value of SM_001:</h3>
      <p>{{ latestValue }}</p>
      <p>{{ latestTime }}</p>
     <!-- <p><img src="assets/images/MkDotNetCommunity_v4_transparent.png" alt="IIoT" style="width: 292px; height: 262px;"/></p>-->
    </div>
  </div>
  </div>
</main>
<router-outlet></router-outlet>
