<main class="main">
  <div class="content">
     
      <h1>{{ title }}</h1>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let forecast of forecasts; index as i;">
            <td>{{forecast.date}}</td>
              <td>{{forecast.temperatureC}}</td>
              <td>{{forecast.temperatureF}}</td>
              <td>{{forecast.summary}}</td>
          </tr>
        </tbody>
      </table>
    </div> 

</main>
<router-outlet></router-outlet>
